a {
    color: inherit; /* 文本颜色继承自父元素 */
    text-decoration: none; /* 取消下划线 */
    cursor: pointer; /* 鼠标悬停时显示指针形状 */
}

/* 取消鼠标悬停时的默认样式 */
a:hover {
    text-decoration: none; /* 取消悬停时的下划线 */
}

/* 取消已访问链接的默认样式 */
a:visited {
    color: inherit; /* 已访问链接的颜色继承自父元素 */
}
        .login-button {
        width: 100%;
        height: 50px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
		margin:-50px auto;
		font-weight: bold; /* 设置字体为加粗 */
		font-size:24px;
		color:#FFF;
		
    }

	    .outer-box {
        width: 100%;
        height: 100px; /* 可以根据需要调整高度 */
        display: flex;
        justify-content: center;
        align-items: center;
		margin:-1 auto;
    }
